html {
	overflow-y: auto;
}

body {
	padding: 0 1bh;
	background-color: var(--colors.background);

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		padding: 0;
	}
}

:global(#app) {
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 10;

		background-color: var(--colors.primary1.base);

		opacity: 1;
		visibility: visible;
		transition: opacity calc(var(--durations.fast) * 1s) ease-in, visibility calc(var(--durations.fast) * 1s) ease-in;
	}

	&:global(.isLoaded) {
		&:after {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.root {
	position: relative;
	padding: 0 calc(1 / 12 * 100%);
	min-height: 100vh;
	overflow: hidden;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		padding: 0;
	}
}

.panel {
	position: absolute;
	left: 1bh;
	top: 4.5bh;
	z-index: 2;
}

.spinner {
	position: absolute;
	left: 1bh;
	top: 3.5bh;
	z-index: 4;
	width: 2bh;
	height: 2bh;

	opacity: 0;
	visibility: hidden;
	transition: opacity calc(var(--durations.fastest) * 1s) ease-in calc(var(--durations.slow) * 1s), visibility calc(var(--durations.fastest) * 1s) ease-in calc(var(--durations.slow) * 1s);
}

.spinner:global(.isVisible) {
	opacity: 1;
	visibility: visible;
	transition: opacity calc(var(--durations.fastest) * 1s) ease-in, visibility calc(var(--durations.fastest) * 1s) ease-in;

	/* :global(.uninitialized) & {
		opacity: 0;
		visibility: hidden;
	}; */
}

.dots {
	position: relative;
	display: block;
	width: 2bh;
	height: 2bh;

	animation: spinner-rotate calc(var(--durations.slowest) * 1s) linear 0s infinite;
	animation-delay: calc(var(--durations.faster) * -1s);
}

.dots::before,
.dots::after {
	content: '';
	width: 1.25bh;
	height: 1.25bh;
	display: block;
	position: absolute;
	left: 0;
	background-color: var(--colors.primary1.base);
	border-radius: 100%;
	outline: 1px solid transparent;
	animation: spinner-bounce calc(var(--durations.slowest) * 1s) infinite ease-in-out;
}

.dots::after {
	left: auto;
	right: 0;
	bottom: 0;
	animation-delay: calc(var(--durations.slow) * -1s);
}

@keyframes spinner-rotate {
	100% {
		transform: rotate(360deg);
	}
}


@keyframes spinner-bounce {
	0%, 100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}
