.root {
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;

	svg {
		width: 28px;
		height: 28px;
	}
}

.root--medium {
	width: 84px;
	height: 84px;
	padding: 12px;

	svg {
		width: 60px;
		height: 60px;
	}
}

.root--large {
	width: 84px;
	height: 84px;
	padding: 12px;

	svg {
		width: 60px;
		height: 60px;
	}
}
