.root {
	position: absolute;
	left: 50%;
	top: 1bh;
	z-index: 5;
	width: calc(25% - 0.5bh);
	margin-left: calc(-0.5 * (25% - 0.5bh));
}

.notifications {
}

.notification {
	padding: 0 0.75bh;
	margin-bottom: 0.5bh;
	min-width: 100%;
	max-width: 200%;
	height: 3bh;
	overflow: hidden;

	will-change: opacity, height;
	transform: translateZ(0);

	background-color: var(--colors.background);
	box-shadow: 0 0.25bh 0.5bh rgba(44, 44, 44, 0.05);
	border-radius: 0.125bh;

	&:global(.isError) {
		color: var(--colors.background);
		background-color: var(--colors.negative.base);
	}

	&:global(.isSuccess) {
		color: var(--colors.background);
		background-color: var(--colors.positive.base);
	}

	> * {
		&:first-child {
			margin-top: 0.5bh;
		}

		&:last-child {
			margin-bottom: 0.5bh;
		}
	}
}

.notificationTitle {
}

.notificationTitle, .notificationText {
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'lnum', 'pnum';
}

.notificationText {
	font-size: calc(var(--typographicScale.5) * 1px);
	line-height: 1bh;
}

.notificationEnter {
	height: 0;
	opacity: 0.01;
	transform: translateY(-1bh);
}

.notificationEnter.notificationEnterActive {
	height: 3bh;
	opacity: 1;
	transform: translateY(0);
	transition: opacity calc(var(--durations.faster) * 1s) ease-in-out calc(var(--durations.faster) * 1s), transform calc(var(--durations.faster) * 1s) ease-in-out calc(var(--durations.faster) * 1s), height calc(var(--durations.faster) * 1s) ease-in-out;
}

.notificationLeave {
	height: 3bh;
	opacity: 1;
	transform: translateY(0);
}

.notificationLeaveActive {
	height: 0;
	opacity: 0.01;
	transform: translateY(1bh);
	transition: opacity calc(var(--durations.faster) * 1s) ease-in-out, transform calc(var(--durations.faster) * 1s) ease-in-out, height calc(var(--durations.faster) * 1s) ease-in-out calc(var(--durations.faster) * 1s);
}
